@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

body,main{
    padding: 0px;
    margin: 0px;
}

/* Header */

header{
    width: 100%;
    height: 10vh;
}

header nav{
    width: 100%;
    height: 10vh;
    background-color: #000000;
}

header nav ul{
    width: 100%;
    height: 10vh;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

header nav ul li{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5em;
    list-style: none;
    padding: 5px 10px;
}

header nav ul li a{
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

header nav ul li a:hover{
    color: #A2A2A2;
}

/* Main */

.container1{
    width: 100%;
}

.container1 .row1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: brown;
}

.container1 .row1 .col-40{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 21%;
    height: 20em;
    margin-top: 5px;
}

.container1 .row1 .col-40:nth-child(1){
    background-image: url(https://image.freepik.com/foto-gratis/mujer-tenencia-vidrio-vino-antes-manojo-uva-acostado-negro-placa_1304-2851.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 90%;
    margin-right: 10px;
}

.container1 .row1 .col-40:nth-child(2){
    background-image: url(https://image.freepik.com/foto-gratis/vista-lateral-mujer-bebe-vaso-vino-tinto_141793-5180.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100% ;
    height: 90%;
    margin-right: 10px;
}

.container1 .row1 .col-40:nth-child(3){
    background-image: url(https://image.freepik.com/foto-gratis/fondo-vintage-botella-roja-vino_23-2148232222.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 90%;
    margin-right: 10px;
}

.container1 .row1 .col-40 h2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container1 .row1 .col-40 p{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Baner */

.container2{
    width: 100%;
    height: 100vh;
    background-image: url(https://image.freepik.com/foto-gratis/vista-frontal-sabroso-plato-frutas-uvas-botella-vino-queso-copa-vino-oscuridad_155003-27511.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container2 .row2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    align-items: center;
}

.container2 .row2 .col-80{
    width: 100%;
    padding-left: 80px;
}

.container2 .row2 .col-80 h2{
    color: white;
    font-size: 4rem;
    margin-bottom: 15px;
    font-family: 'Roboto Mono', monospace;
}

.container2 .row2 .col-80 h2:hover{
    color: wheat;
    cursor: pointer;
}

.container2 .row2 .col-80 p{
    color: turquoise;
    font-size: 2;
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
}

.container2 .row2 .col-80 button{
    width: 20%;
    border-radius: 10px;
    margin-top: 10px;
}

.container2 .row2 .col-80 button:hover{
    background-color: teal;
    cursor: pointer;
}

/* Resolucion */

@media(max-width:768px){
    .container2{
        height: 80vh;
        margin-top: 20px;
    }
    .container2 .row2{
        height: 80vh;
    }
    .container2 .row2 .col-80{
        width: 70%;
    }
}

@media(max-width: 480px){
    .container1 .row1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .container1 .row1 .col-40{
        width: 20em;
        height: 22em;
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }
    .container2{
        margin-top: 20px;
        height: 50vh;
    }
    .container2 .row2{
        height: 50vh;
    }
    .container2 .row2 .col-80{
        width: 100%;
        padding-left: 2%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container2 .row2 .col-80 h2{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .container2 .row2 .col-80 p{
        font-size: 1rem;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .container2 .row2 .col-80 button{
        margin: 0%;
    }
}

@media(max-width: 370px){

    .container1{
        display: flex;
        flex-direction: row;
        justify-content: center ;
        height: 40vh;
    }

    .container2{
        height: 50vh;
    }
    
    .container2 .row2{
        height: 50vh;
    }

    .container2 .row2 .col-80 h2{
        margin: 0%;
        margin-bottom: 0%;
    }

    .container2 .row2 .col-80 p{
        margin-top: 0%;
        margin: 0%;
    }

    .container2 .row2 .col-80 button{
        width: 20px;

    }
}