body,main{
    margin: 0%;
    padding: 0%;
}

/*Parte superior*/

header{
    margin: 0%;
    padding: 0%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

header nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

header nav ul{
    margin: 0%;
    padding: 0%;
    padding-top: 0%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

header nav ul li{
    margin: 50px;
    text-decoration: none;
    outline: none;
    font-size: 2rem;
}

.container{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}
