@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');

body,main{
    margin: 0%;
    padding: 0%;
}

/*Parte superior*/

header{
    margin: 0%;
    padding: 0%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

header nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    width: 100%;
    height: 10vh;

}

header nav ul{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: aqua;
    align-content: center;
}

header nav ul li{
    margin: 20px;
    padding: 2px 10px;
    text-decoration: none;
    outline: none;
    font-size: 2rem;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Antonio', sans-serif;
}

header nav ul li a:hover{
    color: blanchedalmond;
}

/*parte intermedio*/

.container{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.container .row{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.container .row .col-40{
    width: 33%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.container .row .col-40 figure{
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container .row .col-40 figure img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    background-position:right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.container .row .col-40 h2{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Antonio', sans-serif;
    text-align: center;
}

.container .row .col-40 p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Antonio', sans-serif;
    font-size: 0.9rem;
}







